@import "./common/styles/colors.css";
@import "./common/styles/type.css";

* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
html {
  background: var(--colorBrandPrimary);
  color: var(--colorLightest);
  font-family: 'Source Sans Pro', sans-serif;
}
body {
  margin: 0;
}