@import "../common/styles/layout.css";
@import "../common/styles/colors.css";

:root {
  --sidenavWidth: 250px;
}

.root {
  width: var(--sidenavWidth);
}

.list {
  margin: 0;
  padding: var(--layoutContentPaddingHorz);
  background: var(--colorBrandPrimaryLight);
  list-style: none;
}
.item {
  margin-bottom: 8px;
  overflow: hidden;
  white-space: nowrap;
}
.link {
  color: var(--colorLight);
  text-decoration: none;
}
