@import "../styles/colors.css";
@import "../styles/layout.css";

:root {
  --topbarBorderWidth: 5px;
  --topbarHeight: 50px;
  --topbarMarginTop: 30px;
}

.root {
  margin: 0 auto;
  max-width: 1600px;
}
.topbar {
  display: flex;
  margin-top: calc((var(--topbarMarginTop) / 2) + 10px);
  height: var(--topbarHeight);
  background: var(--colorBrandPrimaryLight);
  border-bottom: var(--topbarBorderWidth) solid var(--colorLightest);
}
.header {
  display: flex;
  align-content: center;
  width: var(--sidebarWidth);
}
.title {
  position: relative;
  top: calc(-.5 * var(--topbarMarginTop));
  height: calc(var(--topbarHeight) + (var(--topbarMarginTop) / 2));
  line-height: calc(var(--topbarHeight) - (var(--topbarMarginTop) / 2));
  margin: 0 auto;
  padding: calc(var(--topbarMarginTop) / 2) 25px 0 25px;
  text-align: center;
  font-weight: 200;
  background: var(--colorLightest);
  display: inline-block;
  border-radius: 7px 7px 0 0;
  color: var(--colorBrandPrimary);
  box-shadow: 1px -2px 2px rgba(0, 0, 0, .3);
}

.nav {
  display: flex;
  align-content: flex-start;
}
.link {
  display: inline-block;
  padding: 0 30px;
  line-height: calc(var(--topbarHeight) - var(--topbarBorderWidth));
  color: var(--colorLightest);
  text-decoration: none;
}
.link:hover {
  color: var(--colorBrandTertiaryLighter);
}

.main {
  display: flex;
  flex-direction: column;
}