
.books-header {

}
.books-title {

}
.books-title-id {
  color: #cccccc;
  font-weight: normal;
  margin-left: 10px;
  font-size: .8rem;

  &:before {
    content: '(#';
  }
  &:after {
    content: ')';
  }
}
.books-btns {
  float: right;
}
.books-cover-img-container {
  display: inline-block;
  border: 1px solid #ababab;
  border-radius: 10px;
  padding: 10px;
}
.books-cover-img {
  max-width: 100px;
  float: right;
}
.books-description {
  margin: 15px 0;
}
.books-review-url {

}
