$sidebar-width: 250px;
$sidebar-item-height: 40px;
$sidebar-item-padding-horz: $padding;
$sidebar-item-hover-bg-color: #fff;
$sidebar-item-hover-border-bottom-color: darken($sidebar-item-hover-bg-color, 10%);
$sidebar-item-outline-color: #ababab;
$sidebar-item-bg-color: #e5efd7;
$sidebar-item-border-top-color: lighten($sidebar-item-bg-color, 20%);
$sidebar-item-border-bottom-color: darken($sidebar-item-bg-color, 20%);
$sidebar-search-margin-vert: 4px;
$sidebar-search-margin-horz: $sidebar-item-padding-horz;
$sidebar-search-height: $sidebar-item-height - (2 * $sidebar-search-margin-vert);
$sidebar-search-width: $sidebar-width - (2 * $sidebar-search-margin-horz);
$sidebar-link-color: $color;

.sidebar {
  position: absolute;
  width: $sidebar-width;
}
.sidebar-list {
  display: block;
  list-style: none;
  max-height: 600px;
}
.sidebar-item {
  border-right: 1px solid $sidebar-item-outline-color;

  &:last-of-type {
    border-bottom: 1px solid $sidebar-item-outline-color;
    border-radius: 0 0 5px 0;
  }
}
.sidebar-item-no-link {
  padding-left: $sidebar-item-padding-horz;
  padding-right: $sidebar-item-padding-horz;
}
.sidebar-item-create {
  padding-top: 13px;
  padding-bottom: 13px;
  border-right: transparent;
}
.sidebar-create-btn {
}
.sidebar-item-search {
  height: $sidebar-search-height + 30px;
  padding-top: 10px;
  background-color: $sidebar-item-bg-color;
  border-top: 1px solid $sidebar-item-outline-color;
  border-bottom: 1px solid $sidebar-item-border-bottom-color;
  border-radius: 0 5px 0 0;
}
.sidebar-search-input {
  min-width: 0;
  width: $sidebar-search-width;
  height: $sidebar-search-height;
  margin-top: $sidebar-search-margin-vert;
  margin-bottom: $sidebar-search-margin-vert;
  font-size: 14px;
  background-color: $sidebar-item-border-top-color;
}
.sidebar-link {
  display: block;
  height: $sidebar-item-height;
  line-height: $sidebar-item-height;
  padding: 0 $sidebar-item-padding-horz;
  background-color: $sidebar-item-bg-color;
  color: $sidebar-link-color;
  border-top: 1px solid $sidebar-item-border-top-color;
  border-bottom: 1px solid $sidebar-item-border-bottom-color;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 200ms;
  cursor: pointer;

  &:visited,
  &:hover,
  &:active {
    color: $sidebar-link-color;
  }

  &:hover {
    margin-left: 10px;
    background-color: $sidebar-item-hover-bg-color;
    border-bottom: 1px solid $sidebar-item-hover-border-bottom-color;
  }
}