@import "../../common/styles/colors.css";

:root {
  --createBtnHeight: 60px;
  --createBtnPaddingHorz: 30px;
}

.btn {
  display: block;
  text-align: center;
  height: var(--createBtnHeight);
  line-height: var(--createBtnHeight);
  font-size: 30px;
  color: var(--colorBrandPrimaryLight);
  border: 1px dashed var(--colorBrandPrimaryLight);
  text-decoration: none;
  transition: all .3s;
}
.btn:hover {
  font-size: 40px;
  color: var(--colorBrandPrimaryLighter);
}
.btn:active {
  color: var(--colorBrandPrimaryLight);
}