@import "../../common/styles/colors.css";

:root {
  --createBtnHeight: 40px;
}

.root {
  display: flex;
  padding: 20px;
}
.btn {
  flex: 1;
  height: var(--createBtnHeight);
  line-height: var(--createBtnHeight);
  border-top: 1px solid var(--colorBrandPrimaryLighter);
  border-left: 1px solid var(--colorBrandPrimaryLighter);
  border-bottom: 1px solid var(--colorBrandPrimaryDark);
  border-right: 1px solid var(--colorBrandPrimaryDark);
  background: var(--colorBrandPrimary);
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  color: var(--colorLightest);
}
.btn:active {
  line-height: calc(var(--createBtnHeight) - 1);
  padding-right: 2px;
  border-top: 1px solid var(--colorBrandPrimaryDark);
  border-left: 1px solid var(--colorBrandPrimaryDark);
  border-bottom: 1px solid var(--colorBrandPrimaryLighter);
  border-right: 1px solid var(--colorBrandPrimaryLighter);
}