$app-header-height: 50px;
$app-header-padding-horz: $padding;
$app-header-color: #fff;
$app-header-bg-color: #69ad23;
$app-header-border-top-color: lighten($app-header-bg-color, 20%);
$app-header-border-bottom-color: darken($app-header-bg-color, 20%);
$app-nav-link-padding-horz: 20px;
$app-nav-link-hover-color: $app-header-border-top-color;
$app-nav-link-active-color: #fff;

.app {
}
.app-header {
  display: block;
  height: $app-header-height;
  padding: 0 $app-header-padding-horz;
  background-color: $app-header-bg-color;
  border-top: 1px solid $app-header-border-top-color;
  border-bottom: 1px solid $app-header-border-bottom-color;
  box-shadow: 0 5px 15px rgba(0,0,0,.1), 0 2px 10px rgba(0,0,0,.15);
}
.app-title {
  display: inline-block;
  line-height: $app-header-height;
  font-size: 26px;
  color: $app-header-color;
}
.app-nav {
  display: inline-block;
  float: right;
  text-align: right;
}
.app-nav-link {
  display: inline-block;
  line-height: $app-header-height;
  padding: 0 $app-nav-link-padding-horz;
  color: $app-header-color;
  text-decoration: none;
  transition: all 200ms;

  &:hover,
  &:active,
  &:visited {
    color: $app-header-color;
  }

  &:hover {
    box-shadow: inset 0 5px 0 $app-nav-link-hover-color;
    background: rgba(255, 255, 255, .1)
  }

  &.active,
  &:active {
    box-shadow: inset 0 5px 0 $app-nav-link-active-color;
  }
  &.active {
    background: rgba(255, 255, 255, .1)
  }
  &:active {
    line-height: $app-header-height + 3;
  }
}
.app-container {

}