$message-margin: 10px;
$message-bg-color: rgba(90, 77, 255, .6);
$message-color: rgba(90, 77, 255, 1);
$message-error-bg-color: rgba(255, 63, 68, 0.6);
$message-error-color: rgb(154, 27, 24);

.message {
  margin: $message-margin;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: $message-bg-color;
  border: 1px solid $message-color;
  color: $message-color;
}
.message-inline {
  display: inline-block;
  margin: 0 $message-margin;
  padding: 2px 10px;
}
.message-error {
  background-color: $message-error-bg-color;
  border: 1px solid $message-error-color;
  color: $message-error-color;
}