doctype html
html
  head
    meta(charset='utf-8')
    title JakeTrent Admin
    link(rel='stylesheet', href='#{assets.host}/css/client.css')
  body
    #application
      block content
    script(src='#{assets.host}/js/client.js', defer)